<h2 class="centered-text title-text">Cook with What You Have</h2>

<div id="recipes" class="food-display">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe, class: "centered-text hover-move" do %>
        <%= render recipe, info: false, icon: true, counter: @calculated_recipes[recipe.id] %>
      <% end %>
    <% end %>
  </div>

<%#= link_to "Back to Meal Plans", meal_plans_path(start_date: @start_date), class: "basic-red-btn centered-text" %>
