<div data-infinite-scroll-target="entries">
  <% @search_items.each do |item| %>
    <%= link_to item, class: "centered-text hover-move" do %>
      <%= render item, icon: true %>
    <% end %>
  <% end %>
</div>

<%= render "shared/pagination_loader", collection: @search_items %>