<% content_for :title, "New recipe" %>

<h1>New recipe</h1>

<%= render "form", recipe: @recipe %>

<br>

<div class="floating-left-btn-container">
  <%= link_to recipes_path, id: "custom-link", class: "floating-red-button" do %>
      <%= image_tag "arrow-left.svg", alt: "Back to recipes", class: "floating-button-icon" %>
  <% end %>
</div>
