<h1>Tasty Shares</h1>

<h2>Public Content</h2>
<% if @items.any? %>
  <%= paginate @items %>
  <div class="food-display">
    <% @items.each do |item| %>
      <%= link_to home_show_path(type: item.class.name.downcase, id: item.id), class: "centered-text hover-move" do %>
        <%= render item, info: item.is_a?(Recipe) ? false : nil %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No public content available</p>
<% end %>