<div class="food-container">
    <%= render @public_recipe, info: true %>
</div>
<%= link_to "Back to Tasty Shares", root_path %>

<% if @public_recipe.user == current_user %>
    <%= link_to "You made this recipe, view it in recipes", recipe_path(@public_recipe) %>
<% else %>
    <%= link_to "Add to recipes", add_recipe_path(@public_recipe), data: { turbo_method: :post } %>
<% end %>