<div id="<%= dom_id recipe_item %>">
  <p>
    <strong>Recipe:</strong>
    <%= recipe_item.recipe_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= recipe_item.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= recipe_item.amount %>
  </p>

</div>
