<div data-infinite-scroll-target="entries">
  <% @pantry_items.each do |meal| %>
    <%= link_to meal, class: "centered-text hover-move" do %>
      <%= render meal %>
    <% end %>
  <% end %>
</div>

<%= render "shared/pagination_loader", collection: @pantry_items %>