<div id="<%= dom_id pantry_item %>" class="pantry-item">
  <% if pantry_item.img_url.present? %>
    <div class="food-image-container">
      <%= image_tag pantry_item.img_url,
                   class: "food-card",
                   loading: "lazy",
                   alt: pantry_item.name %>
    </div>
  <% end %>
  <p class="centered-text padded">
    <%= pantry_item.name %>
  </p>

  <% if local_assigns[:show_barcode]%>
    <p class="centered-text padded">
      <strong>Barcode:</strong>
      <%= pantry_item.barcode %>
    </p>
  <% end %>
</div>