<div id="<%= dom_id pantry_item %>" class="pantry-item">
  <p>
    <%= pantry_item.name %>
  </p>

  <% if pantry_item.img_url.present? %>
  <%= image_tag pantry_item.img_url, class: "food-image" %>
  <% end %>

  <% if local_assigns[:show_barcode] %>
  <p>
    <strong>Barcode:</strong>
    <%= pantry_item.barcode %>
  </p>
<% end %>

</div>
