<p style="color: green"><%= notice %></p>

<% content_for :title, "Your Pantry items" %>

<h1>Your Pantry items</h1>

<div id="pantry_items">
  <% @pantry_items.each do |pantry_item| %>
    <%#= render pantry_item %>
    <%= render partial: "pantry_item", locals: { pantry_item: pantry_item, show_barcode: false } %>

    <p>
      <%= link_to "Show this pantry item", pantry_item %>
    </p>
  <% end %>
</div>

<%= link_to "New pantry item", new_pantry_item_path %>
