<p style="color: green"><%= notice %></p>

<%#= render @pantry_item %>
<div class="food-container">
  <%= render @pantry_item, show_barcode: true %>

</div>
<div>
  <%#= link_to "Edit this pantry item", edit_pantry_item_path(@pantry_item) %>
  <%= link_to "Back to pantry items", pantry_items_path %>

  <%= button_to "Destroy this pantry item", @pantry_item, method: :delete %>
</div>
