<div id="<%= dom_id meal %>" class="recipe-container">

  <div class="image-container">
    <% if meal.image.attached? %>
      <%= image_tag meal.image, class: "image-card" %>
    <% else %>
      <strong> No image attached </strong>
    <% end %>

  </div>
  <p class="centered-text">
    <%= meal.name %>
  </p>

  <p class="centered-text">
    <%= meal.description %>
  </p>
</div>
