<% content_for :title, "New meal" %>

<h1>New meal</h1>

<%= render "form", meal: @meal %>

<br>

<div class="floating-left-btn-container">
  <%= link_to meals_path, id: "custom-link", class: "floating-red-button" do %>
      <%= image_tag "arrow-left.svg", alt: "Back to meals", class: "floating-button-icon" %>
  <% end %>
</div>
