// app/assets/stylesheets/_base.scss
@use "variables" as *; 
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: $quaternary;
    background: $background;
    overflow-x: hidden;
}
* {
    outline: 1px solid red;
    max-width: 100%;
  }
  /* Add to your base CSS */
  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }