// 1. Base Sticky Behavior
@use "variables" as *; 

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100; // Ensures header stays above other content
  width: 100%;
  background-color: $tertiary;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  justify-items: center;
  // Add transition for smooth effects
  transition: all 0.3s ease;
  
  &.scrolled {
    padding: 0.5rem 2rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 768px) {
    padding: 0;
    position: fixed;
  }
}
  
  // 2. Header Layout
  //Change to grid
  .header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    column-gap: 30px;
    row-gap: 20px;

    padding: 1rem;

    justify-content: center; /* Center wrapped items */

    @media (min-width: 600px) {
      justify-content: left;
    }
  }
  
  // 3. Logo Styles
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .food-display {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem;
  
    // Media query for phones (typically 600px or less)
    @media (max-width: 600px) {
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr)); // Smaller columns
      gap: 1rem; // Smaller gap between items
      padding: 1rem;
    }
  }
  
  .pantry-item {
    display: grid;
    grid-template-rows: auto 1fr; /* First row auto, second takes remaining space */
    height: 100%; /* Important for equal height */
    background-color: $primary;
    border: 2px solid $quaternary;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    
    &:hover {
      transform: translateY(-10px);
      filter: brightness(90%);
    }
  }

  .food-container {
    width: 25%;
    height: fit-content;
    margin: 0 auto;
  }
  .food-image-container {
    aspect-ratio: 1 / 1; // Force square container (or use 4/3)
    background: $secondary; // Fallback if image missing
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .food-card {
    width: 100%;
    height: 100%;
    object-fit: contain; // Fits entire image inside container (no cropping)
    // OR use `object-fit: cover` to fill container (may crop edges)
  }

  .mobile-margin {
    margin-top: 10rem; // Default (mobile)
    
    @media (min-width: 601px) {
      margin-top: 0; // Reset on larger screens
    }
  }