//colors
$background: #F5F1ED;
$primary: #DAD2BC;
$secondary: #A99985;
$tertiary: #70798C;
$quaternary: #252323;


$color-success: #00CC66;
$color-success-hover: #137547;
$color-danger: #BD1E1E;
$color-danger-hover: #88292F;

// Button Variants
$btn-colors: (
  "green": (
    "normal": $color-success,
    "hover": $color-success-hover
  ),
  "red": (
    "normal": $color-danger,
    "hover": $color-danger-hover
  )
);