//colors
$background: #F5F1ED;
$primary: #DAD2BC;
$secondary: #A99985;
$tertiary: #70798C;
$quaternary: #252323;
$btn-green-normal: #00CC66;
$btn-green-hover: #137547;

$btn-red-normal: #BD1E1E;
$btn-red-hover: #88292F;